<div class="mb-3 ms-3">
  <h3 style= "text-align: center"><strong>Available Campervans and Motorhomes</strong></h3>
</div>


<div class="cards-container">
  <% @vans.each do |van| %>
    <div class="card">
      <%= cl_image_tag van.photos.first.key, crop: :fill %>
      <div class="ms-3 me-3">
        <h3><%= van.model %></h3>
        <div class="card-info d-flex justify-content-between">
          <p>Capacity: <%= van.capacity %> people</p>
          <p><strong><%= van.price %>€ /day</strong></p>
        </div>
        <p style="margin-top: -10px;"><%= link_to "More information...", van_path(van) %></p>
      </div>
      <%= link_to '', van_path(van), class: 'card-link'  %>
    </div>
  <% end %>
</div>


<div class="mb-3 ms-3">
  <h3 style= "text-align: center"><strong>View on map</strong></h3>
</div>
<div class="van-card">
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
