<div class="container">
  <div class="van-card">
    <h2 class="text-center"><strong><%=@van.title%></strong></h2>
    <div class="d-flex">
      <div class="left-card col-12 col-lg-6">
        <div class= "van title"> </div>
        <div> <p><%=@van.description%></p></div>
        <p><i class="fa-solid fa-children"></i></i> capacity: <%=@van.capacity%> people</p>
        <p><i class="fa-solid fa-seedling"></i></i>  year: <%=@van.year%></h3>
        <p><i class="fa-solid fa-van-shuttle"></i> model: <%=@van.model%></p>
        <%= link_to "Book this van", new_van_booking_path(@van), class: "btn btn-flat" %>
      </div>
      <div class ="right-card col-12 col-lg-6 d-flex">
        <div class="image-card" style ="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path @van.photos.first.key, height: 400, width: 600, crop: :fill %>');">
        <p><strong><%=@van.price%>€ </strong> per day </p>
      </div>
    </div>
  </div>
</div>


<div class="van-card">
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
