
<div class="mt-3 mb-3 ms-3">
  <h3> My Bookings</h3>
</div>

<div class="cards-container-booking">
  <% @bookings.each do |booking| %>
    <div class="card-booking">
      <%= cl_image_tag booking.van.photos.first.key, crop: :fill %>
      <div class="card-date ms-3 me-3">
        <h3><%= booking.van.model %></h3>
        <p style="color: red"><strong><%= booking.status %></strong></p>
      </div>
      <p style="margin-top: -10px; margin-left: 16px">Between <%= booking.start_date %> - <%= booking.end_date %></p>
    </div>
  <% end %>
</div>
